spring:
  datasource:
    url: jdbc:mariadb://localhost:3307/boards?createDatabaseIfNotExist=true
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: 1234
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 50MB
    session:
      timeout: 1800  # 세션 타임아웃 시간(초) - 기본값 30분

mybatis:
  mapper-locations: classpath:mapper/**/*.xml
  type-aliases-package: com.example.boards.model
  configuration:
    map-underscore-to-camel-case: true

server:
  port: 8080
